header
{
background-color: #000000;
padding: 20px 0;
position: relative;	
height: 100px;
}
body
{
background-color: #000000;	
}

.layout
{
	width: 60%;
	margin: 0 auto;
}

.layout2
{
	width: 20%;
	margin: 0 auto;
	font-size:1.25em;
	color: #ff0000;
}

h1 a 
{
display: block;
width: 40%;
margin: 10px auto;
padding: 10px;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
text-indent: -9999px;
line-height: 3;
background-color: #000000;
}

nav ul 
{
	margin: 0;
	padding: 0;
	font-size: .9em;

}

nav ul li
{
	font-size: 1em;
	display: inline-block;
	width: 20%;
	float: left;
	text-align: center;
	text-shadow: 2px 2px 4px #ff0000;
	/*clear: both;*/
}

nav ul li a
{
	/*font-size: 2em;*/
	text-decoration: none;
	text-transform: uppercase;
	/*font-size: 20px;*/
	line-height: 1.3;
	color: #ffffff;
	transition: color 500ms ease-out;
}

nav ul li a:hover
{
color: #FF0000;
font-size: 125%;
}

#hero
{
	width: 100%;
	height: 25px;
	background-image: url("../images/carbon fiber.jpg");
	background-size: 75%;
	background-position: center;
}

/*#photo
{
	width: 70%;
	float: right;
	position: relative;
	height: 200px;
	background-size: 100%;
	height: 3000px;
	
}*/
	
}

main
{
	background-image: url("../images/carbon fiber.jpg");
	background-size: 75%;
	position: relative;

}

img
{
	width: 100%;
	position: relative;
	top: -10px;
	left: 31%;
	top: 30px;
	z-index: 5;
	border: 2px solid #ff0000;
	size: 25%;
	
}


article
{
	width: 67%;
	background-color: #000000;
	color: white;
	padding: 5px 100px 30px;
	position: relative;
	z-index: 10;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #ff0000;
	font-size:1.5em;
}
	

article h2
{
	/*font-size: 16px;*/
	font-size: 1.9em;
	margin-bottom: 40px;
	text-shadow: 2px 2px 4px #ff0000;

}

article p 
{
	/*font-size: 22px;*/
	font-size: 1.375em;
	line-height: 1.3;
	margin-bottom: 22px;
}

article h3 
{
	/*font-size: 30px;*/
	font-size: 1.875em;
	margin-top: 40px;
	font-family: 'Over the Rainbow', cursive;
	display: -;

}

article h3:before 
{
    content: "- ";
}
footer
{
	background-color: #000000;
	background-size: 100%;
	color: #ffffff;
	line-height: 2;
	padding: 20px 0;
	font-size: 1.1em;
	text-align: center;
	height: 300px;
}

/*@media screen and (max-width: 1280px){
	article
	{
		width: 63%;
		padding-left: 1px;
		padding-right: 1px;
		font-size:1.15em;
	}
	header
	{
		padding: 10px 0;
		height: 50px;
	}
	footer
	{
		padding: 10px 0;
		height: 50px;
		font-size: .9em;
	}*/
	

@media screen and (max-width: 1080px){
	article
	{
		width: 63%;
		padding-left: 1px;
		padding-right: 1px;
		font-size:1.15em;
	}
	header
	{
		padding: 10px 0;
		height: 50px;
	}
	footer
	{
		padding: 10px 0;
		height: 50px;
		font-size: .9em;
	}
	

@media screen and (max-width: 800px){
	.layout
	{
		width: 90%;
	}
	header
	{
		padding: 10px 0;
		height: 100px;
	}
	footer
	{
		padding: 10px 0;
		height: 50px;
		font-size: .9em;
	}
	h1 a 
	{
		width: 70%;
		padding: 0px;
	}
	nav ul li 
	{
		display: block;
		width: 100%;
		float: none;
	}
	

main img 
	{
		display: 40%;
		
	}
article
	{
		width: 63%;
		padding-left: 1px;
		padding-right: 1px;
		font-size:.9em;
		text-align: center;
	}

article:before 
	{
	height: 50px;
	top: -50px;
	}

@media screen and (max-width: 500px){
	article
	{
		width: 63%;
		padding-left: 1px;
		padding-right: 1px;
		font-size:.9em;
		text-align: center;
	}
	header
	{
		padding: 10px 0;
		height: 100px;
	}
	footer
	{
		padding: 10px 0;
		height: 100px;
		font-size: .9em;
	}

@media screen and (max-width: 400px){
	article
	{
		width: 63%;
		padding-left: 1px;
		padding-right: 1px;
		
		font-size:.9em;
		text-align: right;
	}
	header
	{
		padding: 10px 0;
		height: 100px;
	}
	footer
	{
		padding: 10px 0;
		height: 100px;
		font-size: .9em;
	}

	@media screen and (max-width: 320px){
	article
	{
		width: 63%;
		padding-left: 1px;
		padding-right: 1px;
		
		font-size:.9em;
		text-align: right;
	}
	header
	{
		padding: 5px 0;
		height: 100px;
	}
	footer
	{
		padding: 10px 0;
		height: 25px;
		font-size: .9em;
	}
	#hero 
	{
		height: 25px;
		background-color: #000000;
	}


	/*content: " ";
	display: block;
	width: 20px;
	height: 10px;
	border-radius: 0 0 1em 1em;
	background-color: white;
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0;*/
	

/*article:after {
	content: " ";
	display: block;
	width: 200px;
	height: 20px;
	border-radius: 0 0 1em 1em;
	background-color: gray;
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0;
}*/





