header
{
background-color: #000000;
padding: 20px 0;
position: relative;
height: 200px;	
}

#sizer
{
	position: absolute;
	top: 0;
	right: 0;
}

.layout
{
	width: 60%;
	margin: 0 auto;
}

.layout2
{
	width: 30%;
	margin: 0 auto;
	font-size:1.25em;
	color: #ff0000;
}

h1 a 
{
display: block;
width: 40%;
margin: 10px auto;
padding: 10px;
background-image: url("../images/website logo.png");
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
text-indent: -9999px;
line-height: 3;
background-color: #000000;
}

nav ul 
{
	margin: 0;
	padding: 0;
	font-size: .9em;

}

nav ul li
{
	font-size:1.10em;
	display: inline-block;
	width: 20%;
	float: left;
	text-align: center;
	text-shadow: 2px 2px 4px #ff0000;
	/*clear: both;*/
}

nav ul li a
{
	/*font-size: 2em;*/
	text-decoration: none;
	text-transform: uppercase;
	/*font-size: 20px;*/
	line-height: 1.3;
	color: #ffffff;
	transition: color 500ms ease-out;
}

nav ul li a:hover
{
color: #FF0000;
font-size: 125%;
}

#hero
{
	width: 100%;
	height: 200px;
	background-image: url("../images/carbon fiber2.jpg");
	background-size: 75%;
	background-position: center;
}

main
{
	background-image: url("../images/carbon fiber.jpg");
	background-size: 75%;
	position: relative;

}

img
{
	width: 70%;
	border: 4px solid #ff0000;
	position: absolute;
	top: -10px;
	left: 31%;
	top: 30px;
	z-index: 5;
	size: 25%;
	
}


article
{
	width: 100%;
	float: right;
	background-color: #000000;
	color: white;
	padding: 20px 100px 30px;
	position: relative;
	z-index: 10;
	box-shadow: 20px 20px 30px #ff0000;
	
}
	
article:before
{
	content: "";
	display: block;
	width: 100%;
	height: 50px;
	background-color: #fefefe;
	position: absolute;
	top: -50px;
	left: 0;
	background-image: url("../images/carbon fiber.jpg");
	background-size: 100%;

}

article h2
{
	/*font-size: 16px;*/
	font-size: 2.375em;
	margin-bottom: 40px;

}

article p 
{
	/*font-size: 22px;*/
	font-size: 1.375em;
	line-height: 1.3;
	margin-bottom: 22px;
}

article h3 
{
	/*font-size: 30px;*/
	font-size: 1.875em;
	margin-top: 40px;
	font-family: 'Over the Rainbow', cursive;
	display: -;

}

article h3:before 
{
    content: "- ";
}
    
footer
{
	background-color: #000000;
	background-size: 100%;
	color: #ff0000;
	line-height: 2;
	padding: 20px 0;
	font-size: 1.25em;
	text-align: center;
	height: 300px;
	
}

@media screen and (max-width: 800px){
	.layout {
		width: 90%;
	}
	header
	{
		padding: 10px 0;
	}
	h1 a 
	{
		width: 70%;
		padding: 0px;
	}
	nav ul li 
	{
		display: block;
		width: 100%;
		float: none;
	}
	#hero 
	{
		height: 100px;
	}

main img 
	{
		display: none;
	}
article
	{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
article:before 
	{
	height: 50px;
	top: -50px;
	content: " ";
	display: block;
	width: 20px;
	height: 10px;
	border-radius: 0 0 1em 1em;
	background-color: white;
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0
	}

/*article:after {
	content: " ";
	display: block;
	width: 200px;
	height: 20px;
	border-radius: 0 0 1em 1em;
	background-color: gray;
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0;
}*/

}




